<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.username %></td> <! Podkluczenie "username">
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td><%= user.updated_at %></td>
</tr>