<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
                                  <!rails assets:precompile   --Pered zapuskom servera!>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
<body>
 <div class="container mt-3">
       
 <header class="p-3 bg-dark text-white">
      <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white'%></li>
            <li><%= link_to 'All Articles', articles_path, class: 'nav-link px-2 text-white'%></li>
            <li><%= link_to 'Contact', new_contacts_path, class: 'nav-link px-2 text-white'%></li>
          </ul>      <!Ssylki Podkluchenie>
        </nav>
      </div>
    </header>            
              
                  <!%= yield :main_menu%> <! Navi "Menu is _manu.html.erb">

<main class="container mt-3"> <! Window Podtwerzdenija>
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>     
      
      <%= yield %>
    </main>
  </body>
</html>


<!  rails new app_blog --css=bootstrap 

    rails assets:precompile   --Pered zapuskom servera!
    
    gem install foreman      --- Zapusk servera -- bin/dev
       
       DLA KOREKTNOJ RABOTY FRONTA!!!!
    web: unset PORT && bin/rails server
    js:  yarn build --watch
    css: yarn build:css --watch   >